					<div class="clearfix"></div>
					<div class="top15">
						<button type="submit" class="btn btn-success btn-icon right15"><i class="fa fa-save"></i><TMPL_VAR NAME='LNG_Save'></button>
						<a class="btn btn-icon modal-close right15" href="#"><i class="fa fa-ban"></i><TMPL_VAR NAME='LNG_Cancel'></a>
						<TMPL_IF NAME='EntityID'>
							<a class="btn btn-icon btn-danger popup-entity-remove" href="#"><i class="fa fa-close"></i><TMPL_VAR NAME='LNG_Remove'></a>	
						</TMPL_IF>
					</div>
					<input type="hidden" name="EntityID" value="<TMPL_VAR NAME='EntityID'>" />
					<input type="hidden" name="Entity" value="<TMPL_VAR NAME='Entity'>" />
					<input type="hidden" name="Action" value="SaveEntityFromPopup" />
				</form>
			</div>
		</div>
	</div>
</div>