<TMPL_INCLUDE FILE="blocks/block_list_header.html">
<div class="col-md-12">
	<TMPL_VAR NAME='LNG_Billings'>
</div>
<div class="col-md-6">
	<div class="row">
		<div class="col-md-9 no-padding">
			<div class="custom-control-phone" id="Phone">
				<div class="custom-control-phone-rows">
					<div class="custom-control-phone-row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-7 col-xs-10"><input type="text" data-mask="phone" class="custom-control-phone-row-number form-control" /></div>
								<div class="col-md-4 col-xs-10">
									<select class="form-control custom-control-phone-row-type">
										<option value="mobile">gray</option>
										<option value="work">green</option>
										<option value="home">black</option>
									</select>
								</div>

								<div class="col-md-1 col-xs-2 no-padding"><div class="form-control simple"><a class="remove-row" href="#"><i class="box_close fa fa-times"></i></a></div></div>
							</div>
						</div>
 					</div>
				</div>
				<div class="col-md-12"><a class="add-row" href="#"><TMPL_VAR NAME='LNG_AddComponent'></a></div>
 				<TMPL_VAR NAME='Name' ESCAPE='none'>
			</div>	
		</div>
	</div>
</div>

<TMPL_INCLUDE FILE="blocks/block_edit_footer.html">
