<p style="text-align:center;">Договор № <TMPL_VAR NAME='ContractID'></p>   
<table width="100%">
	<tr>
		<td>г. Новосибирск</td>
		<td style="text-align:right;"><TMPL_VAR NAME='Created' FORMAT='datedoc'> года</td>
	</tr>
</table>

<p>
	Общество с ограниченной ответственностью Детский оздоровительный лагерь «Синяя птица», реестровый номер в Едином Федеральном Реестре туроператоров № 019838, 
	в лице директора Байкалова Андрияна Валентиновича, действующего на основании Устава, именуемое в дальнейшем «Исполнитель», 
	с одной стороны и <TMPL_VAR NAME='ParentName'>, <TMPL_VAR NAME='ParentPassport'>, 
	именуемый (ая) в дальнейшем «Родитель» (если договор заключает опекун или попечитель ребенка - указать документ,  удостоверяющий его полномочия),  с другой стороны заключили настоящий Договор о нижеследующем:
</p>

<table width="100%" border="0">
	<tr>
		<td width="6%"><strong>1.</strong></td>
		<td><strong>ПРЕДМЕТ ДОГОВОРА</strong></td>
	</tr>
	<tr>
		<td>1.1.</td>
		<td>В соответствии с настоящим договором  Исполнитель обязуется предоставить в сроки согласно Приложению 1, 
			(далее по тексту Настоящего договора именуются "сроки реализации программы"),  досуговую креативно-игровую программу  
			«<TMPL_VAR NAME='SeasonTitle'>» (<TMPL_VAR NAME='SeasonDateFrom' FORMAT='date'> - <TMPL_VAR NAME='SeasonDateTo' FORMAT='date'>) для ребенка (детей) Родителя <TMPL_VAR NAME='ChildName'> <TMPL_VAR NAME='ChildBirthYear'> г.р.</td>
	</tr>
	<tr>
		<td>1.2.</td>
		<td>Место проведения программы  – ДСОЛ КД "Чкаловец", НСО </td>
	</tr>
	<tr>
		<td><strong>2.</strong></td>
		<td><strong>ПРАВА И ОБЯЗАННОСТИ СТОРОН</strong></td>
	</tr>
	<tr>
		<td>2.1.</td>
		<td>Права  Родителя:</td>
	</tr>
	<tr>
		<td>2.1.1</td>
		<td>посещать ребенка (детей) в установленные дни и часы в определенном администрацией месте ( прогулки по территории лагеря и посещение жилых детских корпусов категорически запрещено по нормам СанПиН 2.4.4.3155-13 "Санитарно-эпидемиологические требования к устройству, содержанию и организации работы стационарных организаций отдыха и оздоровления детей") Рекомендованное время посещения, ежедневно с третьего дня пребывания ребенка в лагере с 13.30 до 15.30 и с 18.00 до 19.00</td>
	</tr>
	<tr>
		<td>2.1.2</td>
		<td>разрешать посещение ребенка в установленные дни и часы следующим гражданам:
			___________________________________ _______________________________________________________________________________________ 
			(указать ФИО, по предъявлению паспорта)</td>
	</tr>
	<tr>
		<td>2.1.3.</td>
		<td>в любое время расторгнуть данный договор при условии оплаты исполнителю фактически понесенных им расходов.</td>
	</tr>
	<tr>
		<td>2.2</td>
		<td>Обязанности Родителя:</td>
	</tr>
	<tr>
		<td>2.2.4</td>
		<td>поставить Исполнителя в известность о наличии у ребенка заболеваний и (или ) медицинских противопоказаний
			______________________________________________________________________________________________________________________________
			______________________________________________________________________________________________________________________________
			__________________________________________________________ (перечислить полностью)</td>
	</tr>
	<tr>
		<td>2.2.5</td>
		<td>оплатить при заключении договора предоставляемые по настоящему договору услуги</td>
	</tr>
	<tr>
		<td>2.2.6</td>
		<td>обеспечить своевременную доставку ребенка к месту сбора группы и забрать ребенка по окончании программы от места встречи группы.</td>
	</tr>
	<tr>
		<td>2.2.7</td>
		<td>обеспечить ребенка предметами первой необходимости согласно перечню, указанному в памятке, в том числе справкой (форма № 079/у или обменная карта) 
			с выпиской из школьной карточки сведений о профилактических прививках, отметкой об отсутствии карантина по месту жительства, отметкой об отсутствии 
			у ребенка педикулеза и чесотки.  Медицинская  часть «Исполнителя» вправе не принять ребенка в случае неправильного оформления медицинских документов, 
			без какой либо компенсации и возврата денежных средств, а также, если ребенок на момент заезда болен. Медицинские справки и ксерокопии документов 
			по окончанию заезда не возвращаются</td>
	</tr>
	<tr>
		<td>2.2.8</td>
		<td>дать разъяснения ребенку о необходимости соблюдения техники безопасности, санитарных и противопожарных норм и правил, а также правил поведения в группе</td>
	</tr>
	<tr>
		<td>2.2.9</td>
		<td>незамедлительно забрать своего ребенка в случае досрочного расторжения настоящего договора.</td>
	</tr>
	<tr>
		<td>2.3</td>
		<td>Права Исполнителя</td>
	</tr>
	<tr>
		<td>2.3.1</td>
		<td>самостоятельно выбирать программу  культурно-развлекательных, образовательных и иных мероприятий, проводимых с участием ребенка, не противоречащую Уставу, настоящему договору и действующему законодательству</td>
	</tr>
	<tr>
		<td>2.3.2</td>
		<td>комплектовать персонал по своему усмотрению</td>
	</tr>
	<tr>
		<td>2.3.3</td>
		<td>досрочно расторгнуть настоящий договор в связи с неоднократным нарушением ребенком Правил пребывания в ДОЛ «Синяя птица» и потребовать от Родителя забрать ребенка. Исполнитель также  имеет право принять решение об исключении ребенка из программы и отправке его  домой в случае грубого нарушения ребенком правил порядка и поведения в общественных местах, в том числе в случае распития спиртных напитков, употреблении наркотических веществ, совершения противоправных действий в течение срока проведения программы. В этом случае Родитель не вправе требовать какого-либо возмещения со стороны Исполнителя в связи с расторжением договора.</td>
	</tr>

	<tr>
		<td>2.4</td>
		<td>Обязанности Исполнителя</td>
	</tr>
	<tr>
		<td>2.4.1</td>
		<td>охранять жизнь и здоровье <TMPL_VAR NAME='ChildName'></td>
	</tr>
	<tr>
		<td>2.4.2</td>
		<td>организовать проведение  программы «Синяя птица» силами своих преподавателей и вожатых на высоком профессиональном  уровне.</td>
	</tr>
	<tr>
		<td>2.4.4</td>
		<td>обеспечить ребенку пребывание на свежем воздухе, проведение оздоровительных, образовательных, культурных мероприятий, игр, занятий в объединениях по интересам, секциях, клубах, творческих мастерских в соответствии с программой ДОЛ «Синяя птица»</td>
	</tr>
	<tr>
		<td>2.4.3</td>		
		<td>организовать доставку ребенка от  места сбора группы до лагеря  и по окончании программы – обратно.</td>
	</tr>
	<tr>
		<td>2.4.4</td>
		<td>обязуется предоставить Заказчику памятку для ребенка.</td>
	</tr>
	<tr>
		<td><strong>3.</strong></td>
		<td><strong>СТОИМОСТЬ УСЛУГ И ПОРЯДОК РАСЧЕТОВ</strong></td>
	</tr>
	<tr>
		<td>3.1.</td>
		<td>Оплата услуг осуществляется путем перечисления денежных средств Родителем на расчётный счёт Исполнителя или внесением в кассу Исполнителя.</td>
	</tr>
	<tr>
		<td>3.2.</td>
		<td>Срок оплаты: Родитель  принимает на себя обязанность оплатить 100 % заказанных услуг, то есть сумму в размере <TMPL_VAR NAME='Amount'> рублей в срок не позднее <TMPL_VAR NAME='LastDayForPay' FORMAT='date'>. Исполнитель вправе отказаться от исполнения обязанностей по настоящему договору в том случае, если Родитель не произведет оплату услуг по настоящему договору  в указанные в Настоящем пункте сроки. Указанный отказ  не может является основанием для взыскания Родителем  каких-либо убытков ( в том числе упущенной выгоды), а также  применения каких-либо мер ответственности к Исполнителю.</td>
	</tr>
	<tr>
		<td>3.3.</td>
		<td>При отказе Родителя от оплаченной путевки по любой причине (болезнь, семейные обстоятельства с предоставлением подтверждающих документов)  не менее чем  за 14 дней до заезда стоимость путевки ( или предоплата) возвращаются за вычетом 300 рублей фактически понесенных расходов.</td>
	</tr>
	<tr>
		<td>3.4.</td>
		<td>При отказе Родителя от оплаченной путевки  в срок менее чем  14 дней до заезда Исполнитель удерживает 70% от стоимости путевки в качестве фактически понесенных расходов.</td>
	</tr>
	<tr>
		<td>3.5.</td>
		<td>В случае заболевания ребенка в лагере Исполнитель компенсирует Заказчику  500 рублей в день, за неиспользованные дни, начиная с третьего дня после отъезда ребенка из лагеря.  Возврат осуществляется  в течение 2-х (двух) рабочих недель после окончания сезона</td>
	</tr>
	<tr>
		<td>3.6.</td>
		<td>Отказ от заезда, опоздание, а также несвоевременный заезд без уважительной причины считается отказом от услуг Исполнителя и стоимость услуг не возмещается.</td>
	</tr>
	<tr>
		<td><strong>4.</strong></td>
		<td><strong>СРОК ДЕЙСТВИЯ ДОГОВОРА И УСЛОВИЯ ЕГО РАСТОРЖЕНИЯ</strong></td>
	</tr>
	<tr>
		<td>4.1.</td>
		<td>Настоящий Договор составлен в 2-х экземплярах, вступает в силу с момента подписания обеими сторонами и действует до даты окончания программы.</td>
	</tr>
	<tr>
		<td>4.2.</td>
		<td>Все споры и разногласия, которые возникают из настоящего Договора или в связи с ним, стороны договорились решать путем проведения переговоров. В случае не достижения согласия сторон спор разрешается в установленном законом судебном порядке.</td>
	</tr>
	<tr>
		<td><strong>5.</strong></td>
		<td><strong>ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</strong></td>
	</tr>
	<tr>
		<td>5.1.</td>
		<td>Все изменения и дополнения к настоящему Договору действительны лишь в том случае, когда они оформлены в письменном виде и подписаны обеими сторонами.</td>
	</tr>
	<tr>
		<td>5.2.</td>
		<td>Настоящий Договор составлен в двух экземплярах, которые имеют одинаковую юридическую силу и хранятся соответственно у Родителя и Исполнителя.</td>
	</tr>
	<tr>
		<td>5.3.</td>
		<td>Все предварительные переговоры, в том числе письма, факсимильные сообщения и др., теряют силу при подписании договора.</td>
	</tr>
	<tr>
		<td>5.4.</td>
		<td>Заказчик разрешает на безвозмездной основе публиковать фотографии своего ребенка сделанные во время реализации программы : на официальном сайте лагеря, в официальных группах лагеря в социальных сетях, а также в педагогических изданиях в качестве иллюстраций  мероприятий проводимых в течении смены.</td>
	</tr>
	<tr>
		<td><strong>6.</strong></td>
		<td>ОТВЕТСТВЕННОСТЬ СТОРОН И ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ.</td>
	</tr>
	<tr>
		<td>6.1.</td>
		<td>Исполнитель не отвечает за неисполнение или ненадлежащее исполнение своих обязательств по настоящему договору, если это связано с неисполнением  Родителем его обязательств, предусмотренных настоящим договором.</td>
	</tr>
	<tr>
		<td>6.2.</td>
		<td>Родитель несет ответственность за вред причиненный ребенком <TMPL_VAR NAME='ChildName'> (в том случае, если ребенок не достиг 14 лет) во время пребывания в ДОЛ «Синяя птица» в соответствии  с пунктом 3 статьи 1073 Гражданского кодекса Российской Федерации, если не докажет, что вред возник не по его вине в осуществлении надзора за ребенком.</td>
	</tr>
	<tr>
		<td>6.3.</td>
		<td>Споры и разногласия, которые могут возникнуть при исполнении настоящего Договора будут по возможности разрешаться путем переговоров между сторонами. В случае невозможности урегулирования споров путем переговоров, стороны передают их на рассмотрение в арбитражный суд Новосибирской области.</td>
	</tr>
	<tr>
		<td><strong>7.</strong></td>
		<td><strong>ФОРС-МАЖОР</strong></td>
	</tr>
	<tr>
		<td>7.1.</td>
		<td>Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если такое неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после заключения настоящего договора и повлиявших на его исполнение. К чрезвычайным обстоятельствам в контексте настоящего пункта относятся: пожар, наводнение, землетрясение, иные стихийные бедствия, война и военные действия, эпидемии, а также решения органов государственной власти и местного самоуправления. К форс-мажорным обстоятельствам, Стороны относят так же иные обстоятельства, которые Стороны  не могли  предвидеть и предотвратить.</td>
	</tr>
	<tr>
		<td>7.2.</td>
		<td>Сторона, для которой сложилась обстоятельства, указанные в п. 7.1. настоящего Договора, обязана незамедлительно (с учетом характера сложившихся обстоятельств) письменно уведомить об этом другую Сторону. В подтверждение форс-мажорных обстоятельств  другой стороне также направляются документы официальных органов, подтверждающих наличие обстоятельств чрезвычайного характера. Не уведомление другой стороны в срок  не позднее семи календарных дней после прекращения действия форс-мажорных обстоятельств, лишает Сторону права на освобождение от ответственности за неисполнение обязательств по настоящему Договору.</td>
	</tr>
	<tr>
		<td>7.3.</td>
		<td>В случае, если срок действия форс-мажорных обстоятельств составил более 1 месяца, Стороны проводят переговоры для определения приемлемых альтернативных способов исполнения настоящего Договора.</td>
	</tr>
	<tr>
		<td><strong>8.</strong></td>
		<td><strong>ЮРИДИЧЕСКИЕ АДРЕСА И РЕКВИЗИТЫ УЧАСТНИКОВ ДОГОВОРА.</strong></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<table width="100%" border="0">
				<tr>
					<td width="45%">
						ИСПОЛНИТЕЛЬ:   ООО ДОЛ «Синяя птица»<br /><br />
						
						Юридический адрес: г. Новосибирск, ул. Красный проспект, 82<br />
						Тел: 255-54-40<br />
						ИНН:5406615029<br />
						КПП: 540601001<br />
						р/сч 40702810200430119546 в филиале «Сибирский»  ПАО "Банк ВТБ"
						к/сч 30101810850040000788<br />
						БИК 045004788<br />
						Директор_____________________А.В. Байкалов<br />
						<TMPL_IF NAME='IsNeedStamp'>
							<img src="<TMPL_VAR NAME='PROJECT_PATH'>template/images/stamp.png"
							style="
							width: 150px;
							margin-left: 30px;
							">
						</TMPL_IF>
						<pagebreak/>
						<br>
						<TMPL_VAR NAME='Created' FORMAT='datedoc'> г.<br />
					</td>
					<td width="5%"></td>
					<td width="50%">
						РОДИТЕЛЬ:<br /><br />
			
						<TMPL_VAR NAME='ParentName'><br />   
						<TMPL_VAR NAME='ParentPassport'><br />                                              
						<table width="100%">
							<tr>
								<td width="70%">
									<TMPL_VAR NAME='Created' FORMAT='datedoc'> г.
								</td>
								<td width="30%" style="text-align:right;">
									_________________<br />
									Подпись
								</td>
							</tr>
						</table>
						
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
	
<pagebreak />

<p>Приложение №1</p>
<h2 align="center">Памятка</h2>
<p align="center">Креативно-игровой лагерь “Синяя птица”</p>

<table width="100%" border="1" cellspacing="0" cellpadding="5">
	<tr>
		<td width="50%">Дата заезда в лагерь: <TMPL_VAR NAME='SeasonDateFrom' FORMAT='date'><br />
			Время начала регистрации: 11.00<br />
			Время окончания регистрации:12.00<br />
			Место сбора: Красный проспект,82, холл<br />
			Время отъезда: 12.15
		</td>
		<td width="50%">Дата возвращения в Новосибирск: <TMPL_VAR NAME='SeasonDateTo' FORMAT='date'><br />
			Время встречи детей: 14.00<br />
			Место встречи: Красный проспект,82, холл
		</td>
	</tr>
</table>

<p align="center">ЧТО НУЖНО ВЗЯТЬ С СОБОЙ:</p>

<strong>Документы:</strong><br />
<strong>(оригиналы не принимаются, все документы должны быть ксерокопированы, так как по окончании сезона они остаются в лагере и назад не возвращаются)</strong>
<ol>
	<li>Копию паспорта или свидетельства о рождении</li>
	<li>Копию полиса обязательного медицинского страхования</li>
	<li>Справку от врача о состоянии здоровья: форма № 079/у или обменную карту (мед.справка для поездки в детский лагерь)</li>
	<li>Копию прививочного сертификата</li>
</ol>
<strong>Предметы личной гигиены:</strong>
<ul>
	<li>Зубная щетка и паста, мыло туалетное (обязательно в мыльнице), туалетная бумага;</li>
	<li>Мочалка, шампунь, возможно, необходимый питательный крем.</li>
	<li>Расческа или гребень для волос,</li>
	<li>Большое банное полотенце для  душа;</li>
	<li>Для девочек: косметические принадлежности для ухода за кожей и телом.</li>
</ul>
Бутылка 0,5 л. чистой  воды в дорогу<br />
<strong>Одежда и обувь:</strong> 
<ul>
	<li>спортивный костюм и закрытая спортивная обувь; летом купальный костюм и дополнительно большое полотенце</li>
	<li>одежда для повседневной носки (1-3 комплекта);</li>
	<li>нарядная одежда для сцены, праздников, дискотек;</li>
	<li>удобные туфли для повседневной носки;  </li>
	<li>кружку для чистой питьевой воды</li>
	<li>комнатные тапочки; тапочки для душа</li>
	<li>сменные рубашки или футболки; </li>
	<li>5-6 пар носков или гольф; пара теплых носков,теплые сменные носки</li>
	<li>нательное белье (трусики, маечки, комбинации и т.п.) с расчетом на перемену в течение 2-3 дней;</li>
	<li>теплый свитер или кофта,</li>
	<li>Тетрадь или блокнот для записей, ручку, фломастеры, альбом для рисования (для малышей)</li>
	<li>Костюм или элементы костюма для выступлений, а также проч. театральные атрибуты, которые захочется взять ребенку </li>
</ul>

<h3 align="center">ВНИМАНИЕ! ВАЖНАЯ ИНФОРМАЦИЯ!</h3>
<p align="center">
	<strong>Новости, фотографии и видео сезона в группе<br />
		http://vk.com/bluebirdcamp2014
	</strong>
</p>

<p>
Порядок в тумбочках , шкафах, личных вещах дети поддерживают своими силами.  <br />
Влажную уборку в комнатах, корпусах и местах общего пользования  выполняют горничные лагеря<br />
Климат в Новосибирской области резко континентальный, в этой связи необходимо предусмотреть, чтобы у ребенка были с собой теплые вещи.  <br />
Просьба не брать с собой ценных вещей (украшения, сотовые телефоны, цифровые фотоаппараты, видеокамеры и т.д.), а также лекарственных препаратов, кроме необходимых по состоянию здоровья. Администрация лагеря не несет ответственности за сохранность ценных вещей. <br />
Встречи родителей с детьми происходят на  специально оборудованной территории в определенное графиком мероприятий время. Знакомство с условиями проживания детей, осмотр  корпусов и территории , возможны только до начала заезда детей на территорию лагеря<br />
Руководители программы оставляют за собой право ограничить пользование детьми средствами мобильной связи в течение проведения программы. <br />
В летнее время особенности климата определяют наличие комаров, мошки, жуков и иных насекомых, которые могут доставить определенные неудобства отдыхающим детям. Просим заблаговременно позаботиться о репеллентах. <br />
Доставка детей из Новосибирска лагерь и по окончании заезда в город осуществляется комфортабельными автобусами в сопровождении патрульной машины ГИБДД. В случае опоздания к автобусу,  доставка ребенка в лагерь производится родителями самостоятельно.  Компенсации за неиспользованный трансфер в лагерь не предусмотрены. <br />
Встреча - проводы  и трансфер в аэропорт / на ж.д. вокзал / автовокзал оплачиваются дополнительно.   <br />
В детских комнатах розеток нет. Использование бытовой техники (фен, плойка) и подзарядка телефонов возможны только в местах общего пользования
</p>

ЛИНИЯ ОТРЕЗА_______________________________________________________________________________________________<br /><br />

Памятку получил  <TMPL_VAR NAME='ParentName'>  Дата: <TMPL_VAR NAME='Created' FORMAT='datedoc'> <br />
Подпись_________________


<pagebreak />

	<p>Приложение №2 к договору №<TMPL_VAR NAME='ContractID'> от <TMPL_VAR NAME='Created' FORMAT='datedoc'>г.</p>

	<h3 align="center">Согласие на обработку персональных данных</h3>

	<p>
		Я, <TMPL_VAR NAME='ParentName'>, в соответствии с требованиями статьи 9 Федерального Закона от 27.07.2006 г. «О персональных данных» №152-ФЗ, даю своё согласие своей волей и в своем интересе на обработку Оператором - ООО Детский оздоровительный лагерь «Синяя птица» (далее – Туроператор), моих персональных данных и персональных данных моего ребенка/моих детей <TMPL_VAR NAME="ChildName">, включая их получение от меня и/или от любых третьих лиц.
		Настоящее согласие дается мною для целей: в рамках и целях исполнения Туроператором (а также третьими лицами, непосредственно оказывающими услуги, входящие в реализуемый туристский продукт: туроператору, перевозчикам, отелям, консульским службам и т.п.) обязательств по Договору, в т.ч. использовать мои ПД и ПД моего ребенка с целью: составления договора о реализации туристического продукта и/или договора оказания услуг, бронирования туристского продукта, заключения, исполнения, договоров по оказанию услуг, входящих в состав туристского продукта, совершения иных фактических действий, связанных с оказанием услуг, входящих в состав туристского продукта.
		Данное согласие распространяется на следующую информацию: ФИО, год, месяц, день рождения, пол, паспортные данные (все), адрес места жительства (фактический и по паспорту), номер мобильного, домашнего телефонов, адрес электронной почты, номер заграничного паспорта и срок его действия, фамилия и имя, как они указаны в загранпаспорте, сведения, запрашиваемые консульскими службами посольства страны планируемого посещения для рассмотрения вопроса о выдаче визы, иная информация, строго в объеме, необходимом для оказания услуг, входящих в состав туристского продукта.
		Настоящее согласие предоставляется на осуществление любых действий в отношении моих ПД и ПД моего ребенка, а именно, на обработку ПД, т.е. любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с ПД, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение ПД;
		Настоящее согласие дается на период - до даты его отзыва Субъектом ПД, путем направления письменного сообщения об указанном отзыве по адресу Туроператора: 630099, г. Новосибирск, Красный проспект, д. 82, офис 324 ООО Детский оздоровительный лагерь «Синяя птица»
	</p>
	<pre><p align="right"><TMPL_VAR NAME='Created' FORMAT='datedoc'> г.              ______________________/___________________________</p></pre>

	<h3 align="center">Согласие на получение информации</h3>

	<p>
		Настоящее согласие дается мною для получения смс-рассылки от ООО Детский оздоровительный лагерь «Синяя птица»: напоминание о дате отъезда в лагерь, месте и времени встречи (отправляется за 1 день до наступления сезона), получение информации о новых и текущих проектах и программах компании (1-2 раза в год). Номер мобильного телефона <TMPL_VAR NAME="ParentPhoneString">
		Настоящее согласие дается мною для получения e-mail рассылки от ООО Детский оздоровительный лагерь «Синяя птица»: получение ссылки на скачивание фотографий после окончания сезона, информации об акциях раннего бронирования, получение информации о новых и текущих проектах и новых сезонах лагеря (1-2 раза в месяц). E-mail: <TMPL_VAR NAME="ParentEmailString">
		Я осведомлен, что отказаться от информационных рассылок я могу, отправив письмо с соответствующим запросом на электронный адрес info@2bcamp.ru
	</p>
	<pre><p align="right"><TMPL_VAR NAME='Created' FORMAT='datedoc'> г.              ______________________/___________________________</p></pre>

	<h3 align="center">Согласие на фотографирование моего ребенка</h3>

	<p>
		Настоящее согласие дается мною для целей: фотографирование моего ребенка в период пребывания в лагере, на возможную публикацию фотографий, содержащих его изображение, в официальных аккаунтах социальных сетей, принадлежащих ООО Детский оздоровительный лагерь «Синяя птица», на сайте www.2bcamp.ru с целью информирования о мероприятиях, проводимых в период сезона, возможное использование фотографий с его изображением, в рекламных материалах ООО Детский оздоровительный лагерь «Синяя птица».
	</p>
	<pre><p align="right"><TMPL_VAR NAME='Created' FORMAT='datedoc'> г.              ______________________/___________________________</p></pre>

<pagebreak />

	<p>Приложение №3 к договору №<TMPL_VAR NAME='ContractID'> от <TMPL_VAR NAME='Created' FORMAT='datedoc'>г.</p>

	<h3 align="center">Информированное добровольное согласие на медицинские вмешательства
		в период пребывания в ООО Детский оздоровительный лагерь «Синяя птица»</h3>

	<p>
		Я, <TMPL_VAR NAME='ParentName'>, проживающий (-ая) по адресу: <TMPL_VAR NAME='ParentAddress'>,
		контактный телефон <TMPL_VAR NAME="ParentPhoneString">
		<strong>законный представитель</strong> (мать, отец, усыновитель, опекун, попечитель)
		несовершеннолетнего <TMPL_VAR NAME='ChildName'>
		в соответствии с требованиями статьи №20 Федерального закона от 21.11.2011 №323 «Об основах охраны здоровья граждан в РФ», Федерального закона от 25.11.2013 № 317 даю <strong>информированное добровольное согласие на медицинское вмешательство</strong>.
	</p>

	<p>
		Я доверяю медицинским работникам лагеря выполнение первичных  исследований, связанных с медицинской помощью.
	</p>

	<p>
		Я даю согласие на проведение при необходимости следующих вмешательств:
		<ol>
			<li>Опрос, в том числе выявление жалоб, сбор анамнеза.</li>
			<li>Осмотр, в том числе пальпация, аускультация.</li>
			<li>Антропометрические исследования.</li>
			<li>Термометрия.</li>
			<li>Тонометрия.</li>
			<li>Введение лекарственных препаратов по назначению врача, в том числе внутримышечно, внутривенно, подкожно, внутрикожно.</li>
			<li>Промывание желудка.</li>
			<li>Очистительная и лечебная клизма.</li>
			<li>Обработка ран и наложение повязок, швов.</li>
			<li>Госпитализация детей по медицинским показаниям в больницы, находящиеся за пределами лагеря.</li>
		</ol>
	</p>

	<p>
		Я уведомлен (-а) в том, что при оказании неотложной и скорой медицинской помощи в другой медицинской организации, имеющей для этого соответствующую медицинскую лицензию, я буду информирован(-а) по указанному выше телефону. В случае невозможности связаться со мной и при возникновении угрозы жизни моему ребенку решение об объеме и виде медицинского вмешательства определяют врачи медицинской организации.
	</p>

	<p>
		В случае моего отсутствия уполномочиваю присутствовать при оказании медицинской помощи моему ребенку, чьим законным представителем я являюсь, сотруднику Исполнителя.
	</p>

	<p align="center">__________________________________________________________________________________________________________________________________________________<br>
		<small>(Подпись одного из родителей, опекуна, попечителя, иного законного представителя несовершеннолетнего)</small></p>
	<p>Дата <TMPL_VAR NAME='Created' FORMAT='datedoc'> г.</p>