<table border="0" width="100%">
	<tr>
		<td width="33%" align="left"><img src="<TMPL_VAR NAME='PATH2MAIN'>images/relic_group_logo.png"></td>
		<td width="34%" align="center"><img src="<TMPL_VAR NAME='PATH2MAIN'>images/terra_nostra_logo.png"></td>
		<td width="33%" align="left"></td>
	</tr>
</table>
<h1 align="center">ДОГОВОР № 05-11/<TMPL_VAR NAME='ContractID'>дл</h1>
<h3 align="center">
на организацию туристического обслуживания 
в детском летнем лагере
</h3>
<table width="100%" border="0">
	<tr>
		<td>г. Москва</td>
		<td align="right"><TMPL_VAR NAME='Created' FORMAT='datedoc'> г.</td>
	</tr>
</table>
<br />

Общество с ограниченной ответственностью «Реликт Групп», реестровый номер в Едином Федеральном Реестре туроператоров 
№ ВНТ 018493, в лице генерального директора Михаила Михайловича Кокорева, действующего на основании Устава, именуемое в дальнейшем «Исполнитель», с одной стороны, и, 
<TMPL_VAR NAME='ParentName'>,
именуемый (ая) в дальнейшем «Заказчик» (если договор заключает опекун или попечитель ребенка - указать документ, удостоверяющий его полномочия), 
с другой стороны, а вместе именуемые Стороны, заключили настоящий Договор о нижеследующем:

<table width="100%" border="0">
	<tr>
		<th colspan="2" align="center"><br /><strong>1.	ПРЕДМЕТ ДОГОВОРА</strong></th>
	</tr>
	<tr>
		<td width="5%">1.1.</td>
		<td>В соответствии с настоящим Договором Исполнитель обязуется  предоставить комплекс услуг, включающий в себя: перевозку, проживание, питание, 
		досуговую программу развлекательного, культурно – просветительского и/или развивающего характера досуговую программу «<TMPL_VAR NAME='SeasonTitle'>» в детском лагере 
		«Терра Ностра» в срок с <TMPL_VAR NAME='SeasonDateFrom' FORMAT='date'> г. по <TMPL_VAR NAME='SeasonDateTo' FORMAT='date'> г. для ребенка Заказчика
		<TMPL_VAR NAME='ChildName'> <TMPL_VAR NAME='ChildBirthYear'> г.р.</td>
	</tr>
	<tr>
		<td width="5%">1.2.</td>
		<td>Место проведения программы – Территория для детей «Терра Ностра» (Московская область, Шатурский район, вблизи деревень Бордуки и Дмитровка).</td>
	</tr>
	<tr>
		<th colspan="2" align="center"><strong><br />2.	ПРАВА И ОБЯЗАННОСТИ СТОРОН</strong></th>
	</tr>
	<tr>
		<td width="5%">2.1.</td>
		<td>Заказчик имеет право:</td>
	</tr>
	<tr>
		<td width="5%">2.1.1.</td>
		<td>посещать ребенка (детей) в установленные дни и часы, на территории лагеря в определенном администрацией месте:<br />
			с третьего дня пребывания (ежедневно) с 10:30 до 13:00 и с 16:30 до 20:30;</td>
	</tr>
	<tr>
		<td width="5%">2.1.2.</td>
		<td>разрешать посещение ребенка в установленные выше дни и часы следующим гражданам по предъявлении паспорта или приравненного к нему документа: <br />
		____________________________________________________________________________________________________________________________________<br />
		____________________________________________________________________________________________________________________________________;</td>
	</tr>
	<tr>
		<td width="5%">2.1.3.</td>
		<td>в любое время расторгнуть настоящий Договор при условии оплаты исполнителю фактически понесенных им расходов.</td>
	</tr>
	<tr>
		<td width="5%">2.2.</td>
		<td>Заказчик обязан:</td>
	</tr>
	<tr>
		<td width="5%">2.2.1.</td>
		<td>поставить Исполнителя в известность о наличии у ребенка заболеваний и/или медицинских противопоказаний: <br />
____________________________________________________________________________________________________________________________________<br />
____________________________________________________________________________________________________________________________________<br />
____________________________________________________________________________________________________________________________________<br />
____________________________________________________________________________________________________________________________________;
		</td>
	</tr>
	<tr>
		<td width="5%">2.2.2.</td>
		<td>оплатить предоставляемые по настоящему Договору услуги в полном объеме;</td>
	</tr>
	<tr>
		<td width="5%">2.2.3.</td>
		<td>обеспечить своевременную доставку ребенка к месту сбора группы и забрать ребенка по окончании программы от места встречи группы (данные мест указываются в Памятке);</td>
	</tr>
	<tr>
		<td width="5%">2.2.4.</td>
		<td>обеспечить ребенка предметами первой необходимости и документами согласно перечню, указанному в Памятке. ВАЖНО: медицинская часть Исполнителя вправе не принять ребенка в случае неправильного оформления медицинских документов, без какой-либо компенсации и возврата денежных средств, а также, если ребенок на момент начала смены болен. Медицинские справки и ксерокопии документов по окончанию заезда не возвращаются;</td>
	</tr>
	<tr>
		<td width="5%">2.2.5.</td>
		<td>в целях реализации п. 2.4. настоящего Договора пояснить ребенку необходимость отказа от пользования сетью интернет, компьютерными / планшетными / мобильными играми, ввиду того, что это может стать причиной, которая не позволит команде реализовать программу смены, увлечь ребенка мероприятиями, спортивными / настольными играми, иными активностями или творческим созиданием (рекомендации по средствам связи содержатся в Памятке);</td>
	</tr>
	<tr>
		<td width="5%">2.2.6.</td>
		<td>дать разъяснения ребенку о необходимости соблюдения техники безопасности, санитарных и противопожарных норм и правил, а также правил поведения в группе;</td>
	</tr>
	<tr>
		<td width="5%">2.2.7.</td>
		<td>незамедлительно забрать ребенка в случае досрочного расторжения настоящего Договора или сообщения Директора лагеря об угрозе жизни / здоровью, по тем или иным причинам.</td>
	</tr>
	<tr>
		<td width="5%">2.3.</td>
		<td>Исполнитель имеет право:</td>
	</tr>
	<tr>
		<td width="5%">2.3.1.</td>
		<td>самостоятельно выбирать программу культурно – развлекательных, образовательных, спортивных и иных мероприятий, проводимых с участием ребенка, не противоречащую Уставу, настоящему Договору, медицинским показаниям и действующему законодательству РФ;</td>
	</tr>
	<tr>
		<td width="5%">2.3.2.</td>
		<td>комплектовать персонал по своему усмотрению;</td>
	</tr>
</table>
<br /><br /><br />
<p align="center">
	Исполнитель:________________ 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	Заказчик:________________
</p>
<pagebreak />
<table width="100%" border="0">
	<tr>
		<td width="5%">2.3.3.</td>
		<td>досрочно расторгнуть настоящий договор в связи с неоднократным нарушением ребенком Правил пребывания в детском лагере «Терра Ностра» и потребовать от Заказчика забрать ребенка. Исполнитель имеет право принять решение об исключении ребенка из программы и отправке его домой в случае грубого нарушения ребенком правил и поведения в общественных местах, в том числе в случаях распития спиртных напитков, употреблении наркотических веществ, курения, совершения противоправных действий в течение срока проведения программы. В этом случае исключения ребенка из программы Заказчик не вправе требовать какого-либо возмещения со стороны Исполнителя в связи с расторжением договора.</td>
	</tr>
	<tr>
		<td width="5%">2.4.</td>
		<td>Исполнитель обязан:</td>
	</tr>
	<tr>
		<td width="5%">2.4.1.</td>
		<td>охранять жизнь и здоровье ребенка Заказчика;</td>
	</tr>
	<tr>
		<td width="5%">2.4.2.</td>
		<td>организовать проведение программы силами своих преподавателей и вожатых на высоком профессиональном уровне;</td>
	</tr>
	<tr>
		<td width="5%">2.4.3.</td>
		<td>обеспечить ребенку пребывание на свежем воздухе, проведение оздоровительных, образовательных, культурных мероприятий, игр, занятий в объединениях по интересам, секциях, клубах, творческих мастерских в соответствии с программой;</td>
	</tr>
	<tr>
		<td width="5%">2.4.4.</td>
		<td>организовать доставку ребенка от места сбора группы до лагеря и по окончании программы – обратно;</td>
	</tr>
	<tr>
		<td width="5%">2.4.5.</td>
		<td>предоставить Заказчику Путевку и Памятку.</td>
	</tr>
	<tr>
		<th colspan="2" align="center"><br /><strong>3.	СТОИМОСТЬ УСЛУГ И ПОРЯДОК РАСЧЕТОВ</strong></th>
	</tr>
	<tr>
		<td width="5%">3.1.</td>
		<td>Оплата услуг осуществляется путем перечисления Заказчиком денежных средств на расчётный счёт Исполнителя или внесением в кассу Исполнителя. 
		Стоимость проживания, питания, программы и всех дополнительных услуг смены составляет <TMPL_VAR NAME='Amount'> рублей (<TMPL_VAR NAME='AmountString'>) (НДС не облагается).</td>
	</tr>
	<tr>
		<td width="5%">3.2.</td>
		<td>Заказчик принимает на себя обязанность оплатить 100 % заказанных услуг, не позднее, чем за  30 календарных дней до начала смены. Исполнитель вправе отказаться от исполнения обязанностей по настоящему договору в том случае, если Заказчик не произведет оплату услуг по настоящему Договору в указанные сроки. Указанный отказ Исполнителя не может являться основанием для взыскания Заказчиком каких-либо убытков (в том числе упущенной выгоды), а также применения каких-либо мер ответственности к Исполнителю.</td>
	</tr><tr>
		<td width="5%">3.3.</td>
		<td>В соответствии со ст. 32 Закона РФ от 07.02.1992 г. № 2300-1 «О защите прав потребителей» потребитель вправе отказаться от исполнения договора о выполнении работ (оказании услуг) в любое время при условии оплаты исполнителю фактически понесенных им расходов, связанных с исполнением обязательств по данному договору.<br /> 
Таким образом:<br />
•	при отказе Заказчика от оплаченной Путевки (по любой причине) не менее чем за 14 дней до начала смены стоимость Путевки или внесенная предоплата возвращается за вычетом фактически понесенных Исполнителем расходов, а именно 5 % от внесенной суммы;<br />
•	при отказе Заказчика от Путевки менее чем за 14 дней до начала смены Исполнитель удерживает 50 % стоимости Путевки за фактически понесенные расходы;<br />
•	при отказе Заказчика от Путевки менее чем за 10 дней до заезда Исполнитель удерживает 70 % стоимости Путевки в качестве фактически понесенных расходов.</td>
	</tr>
	<tr>
		<td width="5%">3.4.</td>
		<td>В случае заболевания ребенка в лагере Исполнитель компенсирует Заказчику 1 200 рублей в день (за неиспользованные дни), начиная с третьего дня после отъезда ребенка из лагеря. Возврат осуществляется в течение двух рабочих недель после окончания летнего сезона.</td>
	</tr>
	<tr>
		<td width="5%">3.5.</td>
		<td>Отказ от заезда, опоздание, а также несвоевременный заезд без уважительной причины считается отказом от услуг Исполнителя и стоимость услуг не возмещается.</td>
	</tr>
	<tr>
		<th colspan="2" align="center"><br /><strong>4.	СРОК ДЕЙСТВИЯ ДОГОВОРА И УСЛОВИЯ ЕГО РАСТОРЖЕНИЯ</strong></th>
	</tr>
	<tr>
		<td width="5%">4.1.</td>
		<td>Настоящий Договор вступает в силу с момента его подписания Сторонами и действует до полного выполнения Сторонами взятых на себя обязательств.</td>
	</tr>
	<tr>
		<td width="5%">4.2.</td>
		<td>Услуги Исполнителя, предусмотренные настоящим Договором, предоставляются в период, указанный в пункте 1.1. настоящего Договора, если иное не определено соглашением сторон, оформленным в письменном виде и приобщенным к настоящему Договору.</td>
	</tr>
	<tr>
		<th colspan="2" align="center"><br /><strong>5.	ИНЫЕ СУЩЕСТВЕННЫЕ ПОЛОЖЕНИЯ ДОГОВОРА</strong></th>
	</tr>
	<tr>
		<td width="5%">5.1.</td>
		<td>Все изменения и дополнения к настоящему Договору действительны лишь в том случае, когда они оформлены в письменном виде и подписаны обеими сторонами.</td>
	</tr>
	<tr>
		<td width="5%">5.2.</td>
		<td>Настоящий Договор составлен в двух экземплярах, по одному для Заказчика и Исполнителя, которые имеют одинаковую юридическую силу.</td>
	</tr>
	<tr>
		<td width="5%">5.3.</td>
		<td>Все предварительные переговоры, в том числе письма, факсимильные сообщения и др., теряют силу при подписании настоящего Договора.</td>
	</tr>
	<tr>
		<td width="5%">5.4.</td>
		<td>Каждый ребенок, принимающий участие в летних сменах детского лагеря «Терра Ностра», включается в коллективный договор страхования ООО «Реликт Групп» с ПАО СК «Росгосстрах» по программе «Счастливое детство + спорт» на период времени, указанный в пункте 1.1. настоящего Договора.</td>
	</tr>
	<tr>
		<td width="5%">5.5.</td>
		<td>Заказчик разрешает на безвозмездной основе публиковать фотографии своего ребенка, сделанные во время реализации программы Исполнителем: на официальном сайте лагеря, в официальных группах лагеря в социальных сетях, а также в изданиях в качестве иллюстраций мероприятий, проводимых в течении смены.</td>
	</tr>
	<tr>
		<th colspan="2" align="center"><br /><strong>6.	ОТВЕТСТВЕННОСТЬ СТОРОН И ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ.</strong></th>
	</tr>
	<tr>
		<td width="5%">6.1.</td>
		<td>Исполнитель не отвечает за неисполнение или ненадлежащее исполнение своих обязательств по настоящему Договору, если это связано с неисполнением Заказчиком его обязательств, предусмотренных настоящим Договором.</td>
	</tr>
	<tr>
		<td width="5%">6.2.</td>
		<td>Заказчик несет ответственность за вред, причиненный ребенком во время пребывания в детском лагере «Терра Ностра» в соответствии с пунктом 3 статьи 1073 Гражданского кодекса Российской Федерации, если не докажет, что вред возник не по его вине.</td>
	</tr>
	<tr>
		<td width="5%">6.3.</td>
		<td>Споры и разногласия, которые могут возникнуть при исполнении настоящего Договора будут, по возможности, разрешаться путем переговоров между Сторонами. В случае невозможности урегулирования споров путем переговоров, Стороны передают их на рассмотрение в арбитражный суд г. Москвы.</td>
	</tr>
</table>
<br /><br />
<p align="center">
	Исполнитель:________________ 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	Заказчик:________________
</p>
<pagebreak />	

<table border="0" width="100%">
	<tr>
		<th colspan="2" align="center"><br /><strong>7.	ФОРС-МАЖОР</strong></th>
	</tr>
	<tr>
		<td width="5%">7.1.</td>
		<td>Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если такое неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после заключения настоящего Договора и повлиявших на его исполнение. К чрезвычайным обстоятельствам в контексте настоящего пункта относятся: пожар, наводнение, землетрясение, иные стихийные бедствия, война и военные действия, эпидемии, а также решения органов государственной власти и местного самоуправления. К форс-мажорным обстоятельствам, Стороны относят так же иные обстоятельства, которые Стороны не могли предвидеть и предотвратить.</td>
	</tr>
	<tr>
		<td width="5%">7.2.</td>
		<td>Сторона, для которой сложились обстоятельства, указанные в п. 7.1. настоящего Договора, обязана незамедлительно (с учетом характера сложившихся обстоятельств) письменно уведомить об этом другую Сторону. В подтверждение форс-мажорных обстоятельств другой стороне также направляются документы официальных органов, подтверждающих наличие обстоятельств чрезвычайного характера.
			<br />
			Не уведомление другой Стороны в срок не позднее семи календарных дней после прекращения действия форс-мажорных обстоятельств, лишает Сторону права на освобождение от ответственности за неисполнение обязательств по настоящему Договору.
		</td>
	</tr>
	<tr>
		<td width="5%">7.3.</td>
		<td>В случае, если срок действия форс-мажорных обстоятельств составил более 1 месяца, Стороны проводят переговоры для определения приемлемых альтернативных способов исполнения настоящего Договора.</td>
	</tr>
</table>
<table border="0" width="100%">

	<tr>
		<th colspan="3" align="center"><br /><strong>8.	РЕКВИЗИТЫ СТОРОН И ПОДПИСИ</strong></th>
	</tr>
	<tr>
		<th colspan="3" align="center">&nbsp;</th>
	</tr>
	<tr>
		<td width="45%">
			ИСПОЛНИТЕЛЬ:<br /><br />
			<strong>Общество с ограниченной ответственностью «Реликт Групп»</strong><br />
			
			<strong>Место нахождения общества:</strong> РФ, г. Москва, ул. М. Калужская, д. 27 кв. 12<br />
			
			<strong>Почтовый адрес общества:</strong> РФ, 119071, г. Москва, ул. М. Калужская, д. 27 кв. 12<br />
			
			<strong>Офис продаж:</strong> РФ, г. Москва, ул. Ленинская Слобода, д. 26 стр. 5 оф. 1210 (БЦ Симонов Плаза)<br /><br />
			
			<strong>ИНН</strong> 7725333585<br />
			<strong>КПП</strong> 772501001<br />
			<strong>ОГРН</strong> 1167746909956<br /><br />
			
			<strong>Р/счет</strong> 40702810202860002779<br />
			в АО "АЛЬФА-БАНК"<br />
			<strong>к/с</strong> 30101810200000000593<br />
			<strong>БИК</strong> 044525593<br /><br />
			
			Телефон: 8 (495) 792-12-61<br />
			
			Моб.тел.: _____________________<br />
			
			Email: mail@terranostra.camp<br /><br />
			
			От ИСПОЛНИТЕЛЯ<br />
			Генеральный директор<br /><br />
			
			________________________ /М.М. Кокорев/<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(подпись, М.П.)
						
		</td>
		<td width="10%"></td>
		<td width="45%">
			ЗАКАЗЧИК:<br /><br />
			<TMPL_VAR NAME='ParentName'><br />
			Паспорт: <TMPL_VAR NAME='ParentPassport'><br />
			<TMPL_VAR NAME='ParentAddress'><br />
			<TMPL_IF NAME='ParentPhoneList'>
			Телефон: <TMPL_LOOP NAME='ParentPhoneList'><TMPL_VAR NAME='Prefix'><TMPL_VAR NAME='Number'><TMPL_UNLESS NAME='__LAST__'>, </TMPL_UNLESS></TMPL_LOOP>
			</TMPL_IF>
			<br />
			<TMPL_IF NAME='ParentEmailList'>
			Email: <TMPL_LOOP NAME='ParentEmailList'><TMPL_VAR NAME='Email'><TMPL_UNLESS NAME='__LAST__'>, </TMPL_UNLESS></TMPL_LOOP>
			</TMPL_IF>
			<br /><br />
			_________________ /___________________/<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(подпись) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Фамилия И.О.)
			
		</td>
	</tr>
</table>

<pagebreak />

<table border="0" width="100%">
	<tr>
		<td width="25%" rowspan="2"><img src="<TMPL_VAR NAME='PATH2MAIN'>images/terra_nostra_logo.png"></td>
		<td align="right">
			Приложение № 1 к Договору <br />
			на организацию туристического обслуживания в детском летнем лагере
		</td>

	</tr>
	<tr>
		<td align="center"><h1>ПАМЯТКА РОДИТЕЛЯМ</h1></td>
	</tr>
</table>

<br />
Подготовка к отдыху в летнем детском лагере – дело увлекательно и очень волнительно. <br />
Специально для вас мы сделали эту информационную памятку.<br /><br /><br />

<table border="1" width="100%" cellspacing="0" cellpadding="5">
	<tr>
		<td width="40%">МЕСТО ОТПРАВЛЕНИЯ И ПРИБЫТИЯ</td>
		<td>м. Котельники <br />
(адрес будет уточняться за трое суток до отъездапо smsили e-mailрассылкой) </td>
	</tr>
	<tr>
		<td width="40%">ОТПРАВЛЕНИЕ В ЛАГЕРЬ</td>
		<td>Регистрация по месту отправления: с 9.30 до 10.30<br />
Отправление: 11.00</td>
	</tr>
	<tr>
		<td width="40%">ПРИБЫТИЕ ИЗ ЛАГЕРЯ</td>
		<td>Выезд из лагеря: 14.00<br />
			Прибытие: 17.00</td>
	</tr>
</table>

<h2 align="center">ЧТО НУЖНО ВЗЯТЬ С СОБОЙ</h2>
<h4 align="center">ДОКУМЕНТЫ</h4>

(оригиналы не принимаются, все документы должны быть ксерокопированы, <br />
так как по окончании сезона они остаются в лагере и назад не возвращаются)<br />
•	Копию паспорта или свидетельства о рождении <br />
•	Копию полиса обязательного медицинского страхования <br />
•	Справку от врача о состоянии здоровья: форма № 079/у или обменную карту (мед.справка для поездки в детский лагерь) <br />
•	Справка об отсутствии инфекционных контактов (берется за три дня до отправления)<br />
•	Копию прививочного сертификата<br />
<h4 align="center">ПРЕДМЕТЫ ЛИЧНОЙ ГИГИЕНЫ</h4>

•	Зубная щетка (в тубусе) и паста, мыло туалетное (обязательно в мыльнице)<br />
•	Мочалка, шампунь, возможно, необходимый питательный крем<br />
•	Расческа для волос<br />
•	Большое банное полотенце для душа<br />
<h4 align="center">ОДЕЖДА И ОБУВЬ (рекомендуется составлять опись)</h4>

•	спортивный костюм и закрытая спортивная обувь<br />
•	одежда для повседневной носки (1-3 комплекта)<br />
•	нарядная одежда для сцены, праздников, дискотек<br />
•	удобные туфли для повседневной носки<br />
•	кружку для чистой питьевой воды <br />
•	комнатные тапочки<br />
•	тапочки для душа <br />
•	сменные рубашки или футболки<br />
•	5-6 пар носков или гольф; пара теплых носков,теплые сменные носки<br /> 
•	нательное белье (трусики, маечки, комбинации и т.п.) с расчетом на перемену в течение 2-3 дней<br />
•	теплый свитер или кофта<br />
•	Костюм или элементы костюма для выступлений, а также проч. театральные атрибуты, которые захочется взять ребенку<br />
<h4 align="center">ОБРАТИТЕ ВНИМАНИЕ</h4>

•	Порядок в тумбочках, шкафах, личных вещах дети поддерживают своими силами<br />
•	Влажную уборку в комнатах, корпусах и местах общего пользования выполняют горничные лагеря<br />
•	Погода в Московской области непредсказуемая, в этой связи необходимо предусмотреть, чтобы у ребенка были с собой теплые вещи<br />
•	Просьба не брать с собой ценные вещи: украшения, дорогие сотовые телефоны, цифровые фотоаппараты, видеокамеры, планшеты и другие гаджеты<br />
•	лекарственные препараты, которые необходимы ребенку по состоянию здоровья, передаются вожатым при регистрации детей<br />
•	Встречи родителей с детьми происходят на специально оборудованной территории в определенное время<br />
•	Знакомство с условиями проживания детей, осмотр корпусов и территории, возможны только до начала заезда детей на территорию лагеря<br />
<h4 align="center">ПОСЕЩЕНИЕ ДЕТЕЙ</h4>
•	Запрещается появление на территории лагеря посетителей в нетрезвом состоянии<br />
•	Запрещается курение на территории и вблизи территории лагеря<br />
•	Категорически запрещается передача любых продуктов питания<br />
•	Родители или доверенные лица должны поставить в известность вожатых отряда о времени пребывания<br />
•	В случае, если родители забирают ребенка с территории лагеря, необходимо заполнить заявление установленной формы в Администрации. 
По окончании посещения, родители должны лично передать ребёнка вожатым отряда в присутствии медицинского сотрудника для осмотра<br /><br />
<p align="center">
_____________________________________________________________________________________________________________________________________________________<br />
_____________________________________________________________________________________________________________________________________________________<br />
_____________________________________________________________________________________________________________________________________________________<br />
_____________________________________________________________________________________________________________________________________________________<br />
_____________________________________________________________________________________________________________________________________________________<br />
_____________________________________________________________________________________________________________________________________________________<br />
_____________________________________________________________________________________________________________________________________________________<br />
_____________________________________________________________________________________________________________________________________________________<br />
_____________________________________________________________________________________________________________________________________________________<br />
_____________________________________________________________________________________________________________________________________________________<br />
_____________________________________________________________________________________________________________________________________________________<br />
(для заметок)
</p>