<h3 align="center">Расписка в получении денежных средств</h3>

<p align="right">«<TMPL_VAR NAME='PayDay'>» <TMPL_VAR NAME='PayMonth'> <TMPL_VAR NAME='PayYear'> г.</span>
</p>
<p align="right"><TMPL_VAR NAME='ClientInitials'></p>

<p>Я, <TMPL_VAR NAME='ClientName'>, дата рождения <TMPL_VAR NAME='ClientDOB'>, паспорт <TMPL_VAR NAME='ClientPassport'>, зарегистрированный (-ая) по адресу: <TMPL_VAR NAME='ClientAddress'>
	получил (-а), от ООО ДОЛ «Синяя птица» заработную плату в размере <TMPL_VAR NAME='Amount'> рублей (<TMPL_VAR NAME='AmountString'>) по договору № <TMPL_VAR NAME='ContractId'></p>
<table width="100%">
	<tr>
		<td width="100%">
			Денежные средства получил (-а). Претензий к ООО ДОЛ «Синяя птица» не имею: <TMPL_VAR NAME='ClientName'>
		</td>
	</tr>
	<tr>
		<td width="100%" style="text-align:right; margin-top: 10px;">
			_________________<br />
			(подпись)
		</td>
	</tr>
</table>
<table width="100%">
	<tr>
		<td width="100%">
			Денежные средства передал(-а): ____________________________________________________________________
		</td>
	</tr>
	<tr>
		<td width="100%" style="text-align:right; margin-top: 10px;">
			_________________<br />
			(подпись)
		</td>
	</tr>
</table>