<TMPL_IF NAME='ContractType' VALUE='employment'>
	<img src="<TMPL_VAR NAME='PATH2MAIN'>images/relic_group_logo.png" style="width:12%; height:auto;opacity:0.5;margin-top:-25px;">
	<img src="<TMPL_VAR NAME='PATH2MAIN'>images/terra_nostra_logo.png" style="width:12%; height:auto;opacity:0.5;margin-top:-25px;">
	
	<h2 align="center">ТРУДОВОЙ ДОГОВОР № <TMPL_VAR NAME='ContractID'></h2>
	<table width="100%">
		<tr>
			<td>г. Москва</td>
			<td style="text-align:right;"><TMPL_VAR NAME='Created' FORMAT='datedoc'> г.</td>
		</tr>
	</table>
	<br />
	Настоящий трудовой договор заключили <i><strong>Общество с ограниченной ответственностью «Реликт Групп»</strong></i>, 
	именуемое в дальнейшем «Работодатель», в лице генерального директора Кокорева Михаила Михайловича, 
	действующего на основании Устава, с одной стороны, и <TMPL_VAR NAME='StaffName'>, именуемый в дальнейшем «Работник», с другой стороны, совместно именуемые «Стороны», о нижеследующем:
	<br />
	<table width="100%" border="0">
		<tr>
			<th colspan="2" align="center">1. Предмет Договора</th>
		</tr>
	    <tr>
	    	<td>1.1.</td>
	    	<td>Работник принимается на сезонную работу на должность ___________________________.</td>
	    </tr>
	    <tr>
	    	<td>1.2.</td>
	    	<td>Местом работы Работника является детский лагерь "Терра Ностра", расположенный по адресу: Московская область, Шатурский район, АОЗТ "Дружба".</td>
	    </tr>
	    <tr>
	    	<td>1.3.</td>
	    	<td>Настоящий трудовой Договор является: (нужное подчеркнуть)<br />
				•	<u>договором по основной работе</u><br />
				•	договором по внешнему совместительству
			</td>
	    </tr>
	    <tr>
	    	<td>1.4.</td>
	    	<td>Непосредственным руководителем Работника является Директор детского лагеря – Кокорева Галина Демьяновна.</td>
	    </tr>
	    <tr>
	    	<td>1.5.</td>
	    	<td>Права и обязанности Сторон регулируются настоящим трудовым Договором и Трудовым кодексом РФ.</td>
	    </tr>
	    <tr>
	    	<th colspan="2" align="center">2. Срок действия Договора</th>
	    </tr>
	    <tr>
	    	<td>2.1.</td>
	    	<td>Настоящий трудовой Договор заключается на срок ___ (___________) месяц (а) <br />и действует с « ____ » _______________ 2017 года по « ____ » _______________ 2017 года. </td>
	    </tr>
	    <tr>
	    	<td>2.2.</td>
	    	<td>Действие настоящего трудового Договора распространяется на весь период работы Работника.</td>
	    </tr>
	    <tr>
	    	<td>2.3.</td>
	    	<td>Работник обязан приступить к работе с « ____ » _______________ 2017 года. В случае, если Работник не приступит к работе в указанный срок, то настоящий Договор аннулируется в соответствии с ч. 4 ст. 61 Трудового кодекса РФ.</td>
	    </tr>
	    <tr>
	    	<th colspan="2" align="center">3. Права и обязанности Сторон</th>
	    </tr>
	    <tr>
	    	<td>3.1.</td>
	    	<td>Работник обязан:</td>
	    </tr>
	    <tr>
	    	<td>3.1.1.</td>
	    	<td>При заключении настоящего трудового Договора о выполнении сезонных работ, предъявить Работодателю на общих основаниях все необходимые документы, перечисленные в ст. 65 ТК РФ.</td>
	    </tr>
	    <tr>
	    	<td>3.1.2.</td>
	    	<td>Подчиняться Правилам внутреннего трудового распорядка и другим локальным нормативным актам Работодателя, соблюдать трудовую дисциплину.</td>
	    </tr>
	    <tr>
	    	<td>3.1.3.</td>
	    	<td>Добросовестно исполнять трудовые обязанности, возложенные на него настоящим трудовым Договором и Должностной инструкцией. </td>
	    </tr>
	    <tr>
	    	<td>3.1.4.</td>
	    	<td>Соблюдать требования по охране труда и обеспечению безопасности труда, правила техники безопасности и санитарно-гигиенические нормы. </td>
	    </tr>
	    <tr>
	    	<td>3.1.5.</td>
	    	<td>Использовать рабочее время только для целей исполнения трудовых обязанностей по настоящему трудовому Договору.</td>
	    </tr>
	    <tr>
	    	<td>3.1.6.</td>
	    	<td>Бережно относиться к имуществу Работодателя и других работников, а такжек имуществу третьих лиц, находящемуся у Работодателя, если Работодатель несет ответственность за сохранность этого имущества. Использовать имущество Работодателя (оборудование, материалы) только для исполнения возложенных на него трудовых обязанностей, а также принимать меры по обеспечению их сохранности и предотвращению ущерба.</td>
	    </tr>
	    <tr>
	    	<td>3.1.7.</td>
	    	<td>Принять на себя полную материальную ответственность за ущерб, возникший у Работодателя в результате халатного выполнения (не выполнения) своих должностных обязанностей, в том числе повлекшее возмещение Работодателем ущерба третьим лицам.</td>
	    </tr>
	    <tr>
	    	<td>3.1.8.</td>
	    	<td>Незамедлительно сообщать Работодателю, либо непосредственному руководителю, о возникновении ситуаций, представляющих угрозу жизни и здоровью людей, сохранности вверенного ему имущества.</td>
	    </tr>
	    <tr>
	    	<td>3.1.9.</td>
	    	<td>Исполнять иные обязанности, предусмотренные трудовым законодательством.</td>
	    </tr>
	    <tr>
	    	<td>3.2.</td>
	    	<td>Работник имеет право:</td>
	    </tr>
	    <tr>
	    	<td>3.2.1.</td>
	    	<td>На предоставление ему работы, обозначенной в п. 1.1. настоящего трудового Договора.</td>
	    </tr>
	    <tr>
	    	<td>3.2.2.</td>
	    	<td>На рабочее место, соответствующее условиям, предусмотренным государственным стандартом и безопасности труда.</td>
	    </tr>
	    <tr>
	    	<td>3.2.3.</td>
	    	<td>На ознакомление при приеме на работу (до подписания настоящего трудового Договора) с Правилами внутреннего трудового распорядка и другим локальным нормативным актам Работодателя.</td>
	    </tr>
	    <tr>
	    	<td>3.2.4.</td>
	    	<td>Своевременную выплату заработной платы в полном объеме.</td>
	    </tr>
	    <tr>
	    	<td>3.2.5.</td>
	    	<td>В случае задержки выплаты заработной платы на срок более 15 дней, Работник имеет право, известив Работодателя в письменной форме, приостановить работу на весь период до выплаты задержанной суммы, за исключением тех случаев, когда законодательством РФ о труде не допускается приостановка работы.</td>
	    </tr>
	    <tr>
	    	<td>3.2.6.</td>
	    	<td>На обязательное социальное страхование и пособие по временной нетрудоспособности.</td>
	    </tr>
	    <tr>
	    	<td>3.2.7.</td>
	    	<td>На оплачиваемый отпуск из расчета два рабочих дня за каждый месяц работы.</td>
	    </tr>
	    <tr>
	    	<td>3.2.8.</td>
	    	<td>На возмещение вреда и компенсацию морального ущерба, причиненного Работнику в связи с исполнением им трудовых обязанностей.</td>
	    </tr>
	    <tr>
	    	<td>3.2.9.</td>
	    	<td>На защиту своих трудовых прав, свобод и законных интересов всеми незапрещенными законом способами.</td>
	    </tr>
	    <tr>
	    	<td>3.2.10.</td>
	    	<td>Не нести материальной ответственности, если ущерб Работодателю причинен не по его вине. </td>
	    </tr>
	    <tr>
	    	<td>3.3.</td>
	    	<td>Работодатель обязан:</td>
	    </tr>
	    <tr>
	    	<td>3.3.1.</td>
	    	<td>Предоставить Работнику работу в соответствии с условиями настоящего трудового Договора.</td>
	    </tr>
	    <tr>
	    	<td>3.3.2.</td>
	    	<td>Обеспечить Работнику условия труда в соответствии с Трудовым кодексом РФ, предоставить оборудование, инструменты, техническую документацию и иные средства, необходимые ему для исполнения своих трудовых обязанностей и обеспечения полной сохранности вверенного ему имущества.</td>
	    </tr>
	    <tr>
	    	<td>3.3.3.</td>
	    	<td>Ознакомить Работника с Правилами внутреннего трудового распорядка, иными локальными нормативными актами, имеющими отношение к трудовой функции Работника и требованиями охраны труда.</td>
	    </tr>
	</table>
	<pagebreak />
	<img src="<TMPL_VAR NAME='PATH2MAIN'>images/relic_group_logo.png" style="width:12%; height:auto;opacity:0.5;margin-top:-25px;">
	<img src="<TMPL_VAR NAME='PATH2MAIN'>images/terra_nostra_logo.png" style="width:12%; height:auto;opacity:0.5;margin-top:-25px;">
	<table width="100%" border="0">
	    <tr>
	    	<td>3.3.4.</td>
	    	<td>Соблюдать трудовое законодательство РФ, правила охраны труда, внутренние нормативные акты и условия настоящего трудового Договора.</td>
	    </tr>
	    <tr>
	    	<td>3.3.5.</td>
	    	<td>Обеспечить защиту персональных данных Работника.</td>
	    </tr>
	    <tr>
	    	<td>3.3.6.</td>
	    	<td>Соблюдать нормы рабочего времени и времени отдыха в соответствии с настоящим трудовым Договором и действующим законодательством.</td>
	    </tr>
	    <tr>
	    	<td>3.3.7.</td>
	    	<td>Ознакомить Работника с действующим законодательством о материальной ответственности 
				за ущерб, причиненный Работодателю, а также иными нормативными правовыми актами о порядке хранения, приема, обработки, продажи (отпуска), перевозки, применения в процессе производства и осуществления других операций с переданным ему имуществом.</td>
	    </tr>
	    <tr>
	    	<td>3.3.8.</td>
	    	<td>Проводить в установленном порядке инвентаризацию, ревизии и другие проверки сохранности и состояния имущества.</td>
	    </tr>
	    <tr>
	    	<td>3.3.9.</td>
	    	<td>Полностью выплачивать причитающуюся Работнику заработную плату в сроки, утвержденные Правилами внутреннего трудового распорядка.</td>
	    </tr>
	    <tr>
	    	<td>3.3.10.</td>
	    	<td>Возмещать вред, причиненный Работнику в связи с исполнением им трудовых обязанностей.</td>
	    </tr>
	    <tr>
	    	<td>3.3.11.</td>
	    	<td>Осуществлять обязательное социальное страхование Работника в порядке, установленном законодательством РФ.</td>
	    </tr>
	    <tr>
	    	<td>3.3.12.</td>
	    	<td>Исполнять иные обязанности, предусмотренные трудовым законодательством.</td>
	    </tr>
	    <tr>
	    	<td>3.4.</td>
	    	<td>Работодатель имеет право:</td>
	    </tr>
	    <tr>
	    	<td>3.4.1.</td>
	    	<td>Поощрять Работника за добросовестный труд.</td>
	    </tr>
	    <tr>
	    	<td>3.4.2.</td>
	    	<td>Требовать от Работника исполнения трудовых обязанностей и бережного отношения к имуществу Работодателя и других работников, соблюдения Правил внутреннего трудового распорядка.</td>
	    </tr>
	    <tr>
	    	<td>3.4.3.</td>
	    	<td>Привлекать Работника к дисциплинарной и полной материальной ответственности в порядке, установленном действующим законодательством РФ за неисполнение или ненадлежащее исполнение обязанностей, указанных в настоящем трудовом Договоре, за нарушение трудового законодательства РФ, Правил внутреннего трудового распорядка, других нормативных актов Работодателя, а также за причинение материального ущерба, возникшего у Работодателя в результате возмещения им ущерба иным лицам.</td>
	    </tr>
	    <tr>
	    	<td>3.4.4.</td>
	    	<td>Пользоваться другими правами, предусмотренными законодательством РФ и внутренними нормативными актами.</td>
	    </tr>
	    <tr>
	    	<th colspan="2" align="center">4. Рабочее время и время отдыха</th>
	    </tr>
	    <tr>
	    	<td>4.1.</td>
	    	<td>Работнику устанавливается шестичасовой рабочий день с посменным графиком работы. Время начала и конца рабочей смены согласовывается и утверждается в Графике смен ежемесячно.</td>
	    </tr>
	    <tr>
	    	<td>4.2.</td>
	    	<td>Перерыв для отдыха и питания предоставляется в соответствии с Правилами внутреннего трудового распорядка.</td>
	    </tr>
	    <tr>
	    	<td>4.3.</td>
	    	<td>Работа в нерабочие праздничные дни осуществляется с соблюдением требований трудового законодательства РФ и оплачивается в двойном размере.</td>
	    </tr>
	    <tr>
	    	<td>4.4.</td>
	    	<td>Работнику по его заявлению может быть предоставлен оплачиваемый отпускиз расчета два рабочих дня за каждый месяц работы (ст. 295 ТК РФ).</td>
	    </tr>
	    <tr>
	    	<td>4.5.</td>
	    	<td>Работник может использовать отпуск с последующим увольнением (за исключением случаев увольнения за виновные действия) (ст. 127 ТК РФ).</td>
	    </tr>
	    <tr>
	    	<th colspan="2" align="center">5. Оплата труда</th>
	    </tr>
	    <tr>
	    	<td>5.1.</td>
	    	<td>Расчет заработной платы Работнику осуществляется путем суммированного учета рабочего времени из расчета 110 (сто десять) рублей в час. Учетным периодом является календарный месяц.</td>
	    </tr>
	    <tr>
	    	<td>5.2.</td>
	    	<td>Заработная плата Работнику выплачивается дважды в месяц в виде аванса и окончательного расчета в сроки, установленные в Положении об оплате труда.</td>
	    </tr>
	    <tr>
	    	<td>5.3.</td>
	    	<td>Расчет по оплате труда производится в денежной форме в валюте РФ (рублях),путем перечисления Работнику причитающихся средств на личную банковскую карту. </td>
	    </tr>
	    <tr>
	    	<td>5.4.</td>
	    	<td>Работник имеет право по результатам своей деятельности на получение стимулирующих и компенсационных выплат, надбавок, доплат, премий и других вознаграждений.</td>
	    </tr>
	    <tr>
	    	<td>5.5.</td>
	    	<td>Льготы и надбавки Работнику начисляются в соответствии с Трудовым кодексом РФ.</td>
	    </tr>
	    <tr>
	    	<td>5.6.</td>
	    	<td>При исполнении наряду с основных дополнительных обязанностей за временно отсутствующего сотрудника или других функций, Работнику доплачивается 50% оклада по совмещаемой должности.</td>
	    </tr>
	    <tr>
	    	<td>5.7.</td>
	    	<td>В случаях, предусмотренных законодательством РФ, из заработной платы Работника могут быть произведены удержания.</td>
	    </tr>
	    <tr>
	    	<th colspan="2" align="center">6. Изменение и расторжение трудового Договора</th>
	    </tr>
	    <tr>
	    	<td>6.1.</td>
	    	<td>Условия настоящего трудового Договора могут быть изменены только по соглашению Сторон в письменной форме.</td>
	    </tr>
	    <tr>
	    	<td>6.2.</td>
	    	<td>Настоящий трудовой договор прекращает свое действие « ___ » _____________ 2017 года.</td>
	    </tr>
	    <tr>
	    	<td>6.3.</td>
	    	<td>О дне прекращения настоящего трудового Договора Работодатель предупреждает Работника в письменной форме не менее чем за 3 календарных дня до увольнения (ст. 79 ТК РФ).</td>
	    </tr>
	    <tr>
	    	<td>6.4.</td>
	    	<td>Если работник после истечения действия трудового Договора фактически продолжает работать, и работодатель не потребовал прекращения трудового Договора в связи с истечением его срока, то трудовой Договор считается заключенным на неопределенный срок (ч. 4 ст. 58 ТК РФ).</td>
	    </tr>
	    <tr>
	    	<td>6.5.</td>
	    	<td>Настоящий трудовой Договор может быть расторгнут досрочно:<br />
	    	•	по соглашению Сторон (ст. 78 ТК РФ);<br />
			•	по инициативе Работника с предоставлением письменного заявления Работодателю не менее чемза 3 (три) календарных дня до даты увольнения (ст. 296 ТК РФ); <br />
			•	по инициативе Работодателя (ст. 81 ТК РФ);<br />
			•	по инициативе Работодателя в связи с ликвидацией организации, сокращением численности илиштата работников. Работодатель предупреждает Работника о предстоящем увольнении вписьменной форме под роспись не менее чем за 7 (семь) календарных дней. В этом случае работнику выплачивается выходное пособие в размере двухнедельного среднего заработка (ст. 296 ТК РФ);<br />
			•	по обстоятельствам, не зависящим от воли сторон (ст. 83 ТК РФ);<br />
			•	по другим основаниям, предусмотренным Трудовым кодексом РФ.<br /></td>
	    </tr>
	</table>
	<pagebreak />
	<img src="<TMPL_VAR NAME='PATH2MAIN'>images/relic_group_logo.png" style="width:12%; height:auto;opacity:0.5;margin-top:-25px;">
	<img src="<TMPL_VAR NAME='PATH2MAIN'>images/terra_nostra_logo.png" style="width:12%; height:auto;opacity:0.5;margin-top:-25px;">
	<table width="100%" border="0">
	    <tr>
	    	<th colspan="2" align="center">7. Заключительные положения</th>
	    </tr>
	    <tr>
	    	<td>7.1.</td>
	    	<td>Условия настоящего трудового Договора имеют для Сторон обязательную юридическую силу. Все изменения и дополнения оформляются двусторонним письменным соглашением.</td>
	    </tr>
	    <tr>
	    	<td>7.2.</td>
	    	<td>Возникающие споры между Сторонами настоящего трудового Договора регулируются путем переговоров между Работником и Работодателем или подлежат разрешению в порядке, установленном законодательством РФ.</td>
	    </tr>
	    <tr>
	    	<td>7.3.</td>
	    	<td>Настоящий трудовой Договор составлен в двух экземплярах, имеющих одинаковую юридическую силу, по одному экземпляру для каждой из Сторон.</td>
	    </tr>
	    <tr>
	    	<th colspan="2" align="center">8. Адреса и подписи сторон</th>
	    </tr>
	</table>
	
	 <table width="100%" border="0">
		<tr>
			<td colspan="3" style="text-align:center;"><strong>Адреса и реквизиты сторон:</strong></td>
		</tr>
		<tr>
    		<td width="45%">
				РАБОТОДАТЕЛЬ:<br /><br />
				<strong>Общество с ограниченной ответственностью «Реликт Групп»</strong><br />
				<strong>Место нахождения общества:</strong> РФ, г. Москва, ул. М. Калужская, д. 27 кв. 12<br />
				<strong>Почтовый адрес общества:</strong> РФ, 119071, г. Москва, ул. М. Калужская, д. 27 кв. 12<br />
				<strong>ИНН</strong> 7725333585
				<strong>КПП</strong> 772501001
				<strong>ОГРН</strong> 1167746909956
				<strong>Р/счет</strong> 40702810202860002779 <br />
				в АО "АЛЬФА-БАНК"<br />
				<strong>к/с 30101810200000000593</strong><br />
				<strong>БИК 044525593</strong><br />
				Телефон: 8 (495) 792-12-61<br />
				Email: info@relict-group.ru
				<br /><br />
				Генеральный директор<br /><br />
				_________________________________ /М.М. Кокорев/<br />
              	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(подпись, М.П.)
				
			</td>
			<td width="5%"></td>
			<td width="50%">
				РАБОТНИК:<br /><br />
				ФИО: <TMPL_VAR NAME='StaffName'><br /><br />
				
				Регистрация: <TMPL_VAR NAME='Address'><br /><br />
				
				Почтовый адрес:<TMPL_VAR NAME='Address'><br /><br />
				
				Паспорт <TMPL_VAR NAME='Passport'><br /><br />
				
				<TMPL_IF NAME='PhoneList'>
				Телефон: <TMPL_LOOP NAME='PhoneList'><TMPL_VAR NAME='Prefix'><TMPL_VAR NAME='Number'><TMPL_UNLESS NAME='__LAST__'>, </TMPL_UNLESS></TMPL_LOOP>
				</TMPL_IF>
				<br />
				<TMPL_IF NAME='EmailList'>
				<br />
				Email: <TMPL_LOOP NAME='EmailList'><TMPL_VAR NAME='Email'><TMPL_UNLESS NAME='__LAST__'>, </TMPL_UNLESS></TMPL_LOOP>
				</TMPL_IF>
				<br /><br />
				_________________ /__________________________________________/<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(подпись)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Фамилия И.О.)
			</td>
		</tr>
	</table>
	<br />
	Один экземпляр трудового договора получен:   _______________________ (подпись работника)<br /><br />

	До подписания трудового договора Работник ознакомлен со следующими локальными нормативными актами:<br />
	•	правила внутреннего трудового распорядка, <br />
	•	положение о системе оплаты труда, <br />
	•	должностная инструкция.<br />
	 <p align="right">_______________________ (подпись работника)</p>
	

<TMPL_ELSEIF NAME='ContractType' VALUE='discipular'>
	<h2 align="center">Ученический договор № <TMPL_VAR NAME='ContractID'></h2>
	
	<table width="100%">
		<tr>
			<td>г. Новосибирск</td>
			<td style="text-align:right;"><TMPL_VAR NAME='Created' FORMAT='datedoc'> года</td>
		</tr>
	</table>
	<p>
		Общество с ограниченной ответственностью «Детский оздоровительный лагерь «Синяя птица», в лице директора Байкалова Андрияна Валентиновича, 
		действующего на основании Устава, именуемый в дальнейшем «Сторона 1» с одной стороны, и гражданина (ки) <TMPL_VAR NAME='StaffName'>,
		действующий (ая) на основании паспорта: <TMPL_VAR NAME='Passport'>,
		именуемый впоследствии "Сторона 2", заключили настоящий контракт о нижеследующем:
	</p>	
	<table width="100%" border="0">
		<tr>
			<td width="5%">1.</td>
			<td>ПРЕДМЕТ ДОГОВОРА</td>
		</tr>
	    <tr>
	    	<td>1.1.</td>
	    	<td>Ввиду заинтересованности Стороны 1 в работнике по специальности вожатый-аниматор, Сторона 1 
	    		организует профессиональное обучение Стороны 2 с целью ее дальнейшего трудоустройства.
	    	</td>
	    </tr>
	    <tr>
	    	<td>1.2.</td>
	    	<td>Продолжительность обучения составляет  50  академических часов</td>
	    </tr>
	    <tr>
	    	<td>1.3.</td>
	    	<td>Форма обучения очная.</td>
	    </tr>
	    <tr>
	    	<td>1.4</td>
	    	<td>Обучение Стороны 2  происходит по месту нахождения Стороны 1.</td>
	    </tr>
	    <tr>
	    	<td>1.5.</td>
	    	<td>В период обучения Сторона 1 предоставляет Стороне 2 возможность приобретения опыта работы и профессиональных навыков по обучаемой специальности.</td>
	    </tr>
	    <tr>
	    	<td>2.</td>
	    	<td>ПРАВА И ОБЯЗАННОСТИ СТОРОН</td>
	    </tr>
	    <tr>
	    	<td>2.1.</td>
	    	<td>Сторона 1 обязана:<br />
				- обеспечить Стороне 2 возможность обучения и прохождения практики в соответствии с условиями настоящего договора;
			</td>
	    </tr>
	    <tr>
	    	<td>2.2.</td>
	    	<td>Сторона 1 вправе осуществлять контроль за процессом учебы Стороны 1</td>
	    </tr>
	    <tr>
	    	<td>2.3.</td>
	    	<td>Сторона 2 обязана:<br />
				-соблюдать учебную дисциплину;<br />
				-своевременно являться на все занятия в соответствии с расписанием занятий,<br />
				-внести депозит за обучение в размере <TMPL_VAR NAME='Amount'> рублей, полностью или по частям, возвращаемый после отработки у Стороны 1 не менее 2 сезонов (по 20 дней) со дня начала работы<br />
				- в процессе обучения выполнять задания Стороны 1, имеющие отношение к обучению и предоставляющие возможность Стороне 2 приобрести педагогическую практику и широкий спектр задач, необходимых для выполнения в сфере организации досуговых программ;
			</td>
	    </tr>
	    <tr>
	    	<td>2.4.</td>
	    	<td>Сторона 2 вправе требовать от Стороны 1 выполнения Стороной 1 своих обязательств по настоящему Договору.</td>
	    </tr>
	    <tr>
	    	<td>3.</td>
	    	<td>ОТВЕТСТВЕННОСТЬ СТОРОН.</td>
	    </tr>
	    <tr>
	    	<td>3.1.</td>
	    	<td>При неисполнении или ненадлежащем исполнении сторонами обязательств, принятых на себя в соответствии с настоящим Договором, стороны несут  ответственность в соответствии с Трудовым кодексом и иным законодательством РФ.</td>
	    </tr>
	    <tr>
	    	<td>3.2.</td>
	    	<td>Пропуск двух занятий без уважительной причины считается фактом невыполнения условий данного Договора и невозвращения депозита.</td>
	    </tr>
	    <tr>
	    	<td>4.</td>
	    	<td>УСЛОВИЯ РАСТОРЖЕНИЯ ДОГОВОРА.</td>
	    </tr>
	    <tr>
	    	<td>4.1.</td>
	    	<td>Настоящий Договор расторгается на основании, предусмотренном гражданским законодательством РФ.</td>
	    </tr>
	    <tr>
	    	<td>5.</td>
	    	<td>ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</td>
	    </tr>
	    <tr>
	    	<td>5.1.</td>
	    	<td>Настоящий договор составлен в двух экземплярах, по одному для каждой из сторон.</td>
	    </tr>
	    <tr>
	    	<td>5.2.</td>
	    	<td>Настоящий Договор вступает в силу с момента его подписания и действует до окончания обучения.</td>
	    </tr>
	    <tr>
	    	<td></td>
	    	<td>
	    		<table width="100%" border="0">
					<tr>
						<td colspan="3" style="text-align:center;"><strong>Адреса и реквизиты сторон:</strong></td>
					</tr>
					<tr>
			    		<td width="45%">
							Сторона 1<br /><br />
	
							Юридический адрес: г. Новосибирск, ул. Красный проспект, 82<br />
							Тел: 2010845<br />
							ИНН:5406738670<br />
							КПП: 540601001<br />
							р/сч 40702810000430010735 в ОАО «Банк Москвы» в 
							г. Новосибирск <br />
							к/сч 30101810900000000762<br />
							БИК 045004762<br />
							Директор_____________________А.В. Байкалов<br /><br />
							
							<TMPL_VAR NAME='Created' FORMAT='datedoc'> г.
						</td>
						<td width="5%"></td>
						<td width="50%">
							Сторона 2<br /><br />
							
							<TMPL_VAR NAME='StaffName'><br />   
							<TMPL_VAR NAME='Passport'><br />                                              
							<table width="100%">
								<tr>
									<td width="70%">
										<TMPL_VAR NAME='Created' FORMAT='datedoc'> г.
									</td>
									<td width="30%" style="text-align:right;">
										_________________<br />
										Подпись
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
	    	</td>
	    </tr>
	</table>
</TMPL_IF>