<TMPL_IF NAME='ContractType' VALUE='employment'>
	<h2 align="center">Срочный трудовой договор № <TMPL_VAR NAME='ContractID'></h2>
	                                    
	<table width="100%">
		<tr>
			<td>г. Новосибирск</td>
			<td style="text-align:right;"><TMPL_VAR NAME='Created' FORMAT='datedoc'> года</td>
		</tr>
	</table>
	<p>
	ООО Детский оздоровительный лагерь «Синяя птица», в лице директора Байкалова Андрияна Валентиновича, действующего на основании Устава, 
	с одной стороны, и гражданина (ки) <TMPL_VAR NAME='StaffName'>, действующий (ая) на основании паспорта: <TMPL_VAR NAME='Passport'> 
	именуемый впоследствии "Работник", заключили настоящий контракт о нижеследующем:
	</p>
	<table width="100%" border="0">
		<tr>
			<td width="5%">1.</td>
			<td>Работник <TMPL_VAR NAME='StaffName'> принимается на работу в креативно-игровой  лагерь «Синяя птица» на должность 
			_____________________________, подтвержденную штатным расписанием.</td>
		</tr>
	    <tr>
	    	<td>2.</td>
	    	<td>Срок действия договора:<br />
				-	начало работы –  <br />
				-	окончание работы – <br />
				Испытательный срок составляет 30 дней
			</td>
	    </tr>
	    <tr>
	    	<td>3.</td>
	    	<td>Работник должен выполнять обязанности, указанные в должностной инструкции сотрудника лагеря, руководствоваться в своей работе основными нормативными документами организации, подписанными до начала работы.</td>
	    </tr>
	    <tr>
	    	<td>4.</td>
	    	<td>Работник не должен разглашать третьим лицам сведения, касающиеся коммерческой деятельности ООО ДОЛ «Синяя птица»</td>
	    </tr>
	    <tr>
	    	<td>5.</td>
	    	<td>Особые условия:<br />
				-	Работник несет полную ответственность за жизнь и здоровье вверенных ему детей.<br />
				-	Работник должен иметь медицинский допуск установленной формы к работе в детском учреждении.
			</td>
	    </tr>
	    <tr>
	    	<td>6.</td>
	    	<td>Организация  должна:<br />
				-	своевременно выплачивать обусловленную контрактом заработную плату;<br />
				-	оказывать консультативную и практическую помощь в организации работы.
	    	</td>
	    </tr>
	    <tr>
	    	<td>7.</td>
	    	<td>Работнику гарантируется соблюдение всех его прав, установленных в действующем законодательстве РФ.</td>
	    </tr>
	    <tr>
	    	<td>8.</td>
	    	<td>Работнику устанавливается должностной оклад согласно установленной системе оплаты труда , утвержденной администрацией ООО ДОЛ «Синяя птица».<br />
				Размеры надбавок, премий, а также иных ценных дополнительных выплат, не являющихся обязательными, устанавливается Администрацией ООО ДОЛ «Синяя птица».
			</td>
	    </tr>
	    <tr>
	    	<td>9.</td>
	    	<td>Ответственность сторон:</td>
	    </tr>
	    <tr>
	    	<td>9.1</td>
	    	<td>Все споры и разногласия сторон Контракта решаются путем переговоров.</td>
	    </tr>
	    <tr>
	    	<td>9.2</td>
	    	<td>Работник несет материальную ответственность за причинение ущерба  лагерю.</td>
	    </tr>
	    <tr>
	    	<td>9.3</td>
	    	<td>В случае нарушения должностной инструкции и документов, регламентирующих деятельность Работника 
	    		(при наличии подтверждения директора лагеря, администрации базы лагеря или документа органов милиции) 
	    		предпринимается досрочное возвращение педагога в Новосибирск за счет самого работника и без какой –либо компенсации за отработанные дни.
	    	</td>
	    </tr>
	    <tr>
	    	<td>9.4</td>
	    	<td>В случае невыхода Работника на работу в оговоренные даты, или отсутствия Работника на рабочем месте, у работника удерживается премия за предыдущие сезоны.</td>
	    </tr>
	    <tr>
	    	<td>9.5</td>
	    	<td>За ненадлежащее исполнение условий  Контракта ООО ДОЛ «Синяя птица», на ООО ДОЛ «Синяя птица» распространяется следующая ответственность:<br />
				-	возмещение ущерба в полном объеме;<br />
				-	другие виды ответственности, предусмотренные действующим законодательством РФ.
			</td>
	    </tr>
	    <tr>
	    	<td>10.</td>
	    	<td>Дополнительные условия<br />
				В случае трудовой деятельности, связанной с поездкой Работника на дальние расстояния, и нарушения 
				Работником в течение поездки своих должностных обязанностей, все транспортные расходы по доставке и возврату 
				Работника осуществляется за счет средств самого Работника.
			</td>
	    </tr>
	    <tr>
	    	<td>11.</td>
	    	<td>Действие контракта:<br />
				Настоящий контракт действует с ____________________________<br />
				Контракт расторгается:<br />
				- по соглашению сторон,<br />
				- по инициативе Организации, в случае нарушения условий Контракта Работником, или нарушений работником действующего законодательства РФ,<br />
				- в случае ликвидации или реорганизации Организации,<br />
				- в случае изменения Организацией штатного расписания,<br />
				- в случае отказа Работника от продолжения работы.
			</td>
	    </tr>
	    <tr>
	    	<td>12.</td>
	    	<td>Во всем остальном, что не предусмотрено условиями настоящего Контракта, стороны руководствуются действующим законодательством РФ.</td>
	    </tr>
	    <tr>
	    	<td>13.</td>
	    	<td>Настоящий договор составлен в двух экземплярах, по одному для каждой из сторон.</td>
	    </tr>
	    <tr>
	    	<td></td>
	    	<td>
	    		<table width="100%" border="0">
					<tr>
						<td colspan="3" style="text-align:center;"><strong>Адреса и реквизиты сторон:</strong></td>
					</tr>
					<tr>
			    		<td width="45%">
							Сторона 1<br /><br />
	
							Юридический адрес: г. Новосибирск, ул. Красный проспект, 82<br />
							Тел: 255-54-40<br />
							ИНН:5406615029<br />
							КПП: 540601001<br />
							р/сч 40702810200430119546 в филиале «Сибирский»  ПАО "Банк ВТБ"<br />
							к/сч 30101810850040000788<br />
							БИК 045004788<br />
							Директор_____________________А.В. Байкалов<br /><br />
							
							<TMPL_VAR NAME='Created' FORMAT='datedoc'> г.
						</td>
						<td width="5%"></td>
						<td width="50%">
							Сторона 2<br /><br />
							
							<TMPL_VAR NAME='StaffName'><br />   
							<TMPL_VAR NAME='Passport'><br />                                              
							<table width="100%">
								<tr>
									<td width="70%">
										<TMPL_VAR NAME='Created' FORMAT='datedoc'> г.
									</td>
									<td width="30%" style="text-align:right;">
										_________________<br />
										Подпись
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
	    	</td>
	    </tr>
	</table>
	
<TMPL_ELSEIF NAME='ContractType' VALUE='discipular'>
	<h2 align="center">Ученический договор № <TMPL_VAR NAME='ContractID'></h2>
	
	<table width="100%">
		<tr>
			<td>г. Новосибирск</td>
			<td style="text-align:right;"><TMPL_VAR NAME='Created' FORMAT='datedoc'> года</td>
		</tr>
	</table>
	<p>
		Общество с ограниченной ответственностью «Детский оздоровительный лагерь «Синяя птица», в лице директора Байкалова Андрияна Валентиновича, 
		действующего на основании Устава, именуемый в дальнейшем «Сторона 1» с одной стороны, и гражданина (ки) <TMPL_VAR NAME='StaffName'>,
		действующий (ая) на основании паспорта: <TMPL_VAR NAME='Passport'>,
		именуемый впоследствии "Сторона 2", заключили настоящий контракт о нижеследующем:
	</p>	
	<table width="100%" border="0">
		<tr>
			<td width="5%">1.</td>
			<td>ПРЕДМЕТ ДОГОВОРА</td>
		</tr>
	    <tr>
	    	<td>1.1.</td>
	    	<td>Ввиду заинтересованности Стороны 1 в работнике по специальности вожатый-аниматор, Сторона 1 
	    		организует профессиональное обучение Стороны 2 с целью ее дальнейшего трудоустройства.
	    	</td>
	    </tr>
	    <tr>
	    	<td>1.2.</td>
	    	<td>Продолжительность обучения составляет  50  академических часов</td>
	    </tr>
	    <tr>
	    	<td>1.3.</td>
	    	<td>Форма обучения очная.</td>
	    </tr>
	    <tr>
	    	<td>1.4</td>
	    	<td>Обучение Стороны 2  происходит по месту нахождения Стороны 1.</td>
	    </tr>
	    <tr>
	    	<td>1.5.</td>
	    	<td>В период обучения Сторона 1 предоставляет Стороне 2 возможность приобретения опыта работы и профессиональных навыков по обучаемой специальности.</td>
	    </tr>
	    <tr>
	    	<td>2.</td>
	    	<td>ПРАВА И ОБЯЗАННОСТИ СТОРОН</td>
	    </tr>
	    <tr>
	    	<td>2.1.</td>
	    	<td>Сторона 1 обязана:<br />
				- обеспечить Стороне 2 возможность обучения и прохождения практики в соответствии с условиями настоящего договора;
			</td>
	    </tr>
	    <tr>
	    	<td>2.2.</td>
	    	<td>Сторона 1 вправе осуществлять контроль за процессом учебы Стороны 1</td>
	    </tr>
	    <tr>
	    	<td>2.3.</td>
	    	<td>Сторона 2 обязана:<br />
				-соблюдать учебную дисциплину;<br />
				-своевременно являться на все занятия в соответствии с расписанием занятий,<br />
				-внести депозит за обучение в размере <TMPL_VAR NAME='Amount'> рублей, полностью или по частям, возвращаемый после отработки у Стороны 1 не менее 2 сезонов (по 20 дней) со дня начала работы<br />
				- в процессе обучения выполнять задания Стороны 1, имеющие отношение к обучению и предоставляющие возможность Стороне 2 приобрести педагогическую практику и широкий спектр задач, необходимых для выполнения в сфере организации досуговых программ;
			</td>
	    </tr>
	    <tr>
	    	<td>2.4.</td>
	    	<td>Сторона 2 вправе требовать от Стороны 1 выполнения Стороной 1 своих обязательств по настоящему Договору.</td>
	    </tr>
	    <tr>
	    	<td>3.</td>
	    	<td>ОТВЕТСТВЕННОСТЬ СТОРОН.</td>
	    </tr>
	    <tr>
	    	<td>3.1.</td>
	    	<td>При неисполнении или ненадлежащем исполнении сторонами обязательств, принятых на себя в соответствии с настоящим Договором, стороны несут  ответственность в соответствии с Трудовым кодексом и иным законодательством РФ.</td>
	    </tr>
	    <tr>
	    	<td>3.2.</td>
	    	<td>Пропуск двух занятий без уважительной причины считается фактом невыполнения условий данного Договора и невозвращения депозита.</td>
	    </tr>
	    <tr>
	    	<td>4.</td>
	    	<td>УСЛОВИЯ РАСТОРЖЕНИЯ ДОГОВОРА.</td>
	    </tr>
	    <tr>
	    	<td>4.1.</td>
	    	<td>Настоящий Договор расторгается на основании, предусмотренном гражданским законодательством РФ.</td>
	    </tr>
	    <tr>
	    	<td>5.</td>
	    	<td>ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</td>
	    </tr>
	    <tr>
	    	<td>5.1.</td>
	    	<td>Настоящий договор составлен в двух экземплярах, по одному для каждой из сторон.</td>
	    </tr>
	    <tr>
	    	<td>5.2.</td>
	    	<td>Настоящий Договор вступает в силу с момента его подписания и действует до окончания обучения.</td>
	    </tr>
	    <tr>
	    	<td></td>
	    	<td>
	    		<table width="100%" border="0">
					<tr>
						<td colspan="3" style="text-align:center;"><strong>Адреса и реквизиты сторон:</strong></td>
					</tr>
					<tr>
			    		<td width="45%">
							Сторона 1<br /><br />
	
							Юридический адрес: г. Новосибирск, ул. Красный проспект, 82<br />
							Тел: 2010845<br />
							ИНН:5406738670<br />
							КПП: 540601001<br />
							р/сч 40702810000430010735 в ОАО «Банк Москвы» в 
							г. Новосибирск <br />
							к/сч 30101810900000000762<br />
							БИК 045004762<br />
							Директор_____________________А.В. Байкалов<br /><br />
							
							<TMPL_VAR NAME='Created' FORMAT='datedoc'> г.
						</td>
						<td width="5%"></td>
						<td width="50%">
							Сторона 2<br /><br />
							
							<TMPL_VAR NAME='StaffName'><br />   
							<TMPL_VAR NAME='Passport'><br />                                              
							<table width="100%">
								<tr>
									<td width="70%">
										<TMPL_VAR NAME='Created' FORMAT='datedoc'> г.
									</td>
									<td width="30%" style="text-align:right;">
										_________________<br />
										Подпись
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
	    	</td>
	    </tr>
	</table>
</TMPL_IF>